
* {
    /* dimensioning */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* fonts */
    font-family: "Martian Mono";
    font-weight: normal;
    /* scrolling */
    -ms-overflow-style: none; /* (IE and Edge) */
    scrollbar-width: none; /* (Firefox) */
  }
  
html,
body {
  /* position, dimensions */
    /* position, dimensions */
    position: static;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* styles, colours */
    color: black;
    /*fonts*/
    font-family: "Martian Mono";
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    cursor: pointer;
  }


.container {
  /* position, dimensions */
  position: absolute;
  margin: 0;
  padding: 0;
  /* behavioral settings */
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .home-btns {
    width: 120vh;
    height: 90vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }
 
  
  .home-btns > a, p {
    
     margin: 0px 40px 40px 40px;
     padding: 0px;
     /*fonts*/
     font-family: "Martian Mono";
     font-size: 32px;
     color: black;
     
  }

   
 #navbar-container {
  position: fixed;
  width: 100%;
  z-index: 1;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: black;
}

.navbar > a, p {
  margin: 20px 20px 20px 20px;
  padding: 0;
  /*fonts*/
  font-family: "Martian Mono";
  font-size: 22px;
  color: #6EE6D7;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  flex-direction: row;
}

.navbar-right > a, p {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 20px 20px;
  padding: 0;
  /*fonts*/
  font-family: "Martian Mono";
  font-size: 22px;
  color: #6EE6D7;
  text-decoration: none;
}

  .start-btn {
    margin: 0px 40px 40px 40px;
    padding: 20px;
    /*fonts*/
    font-family: "Martian Mono";
    font-size: 32px;
    background-color:  black;
    color: #6EE6D7;
    border: black;
    border-style: solid;
    border-radius: 50px;
    border-width: 4px;
 }

  #logo-container {
    /* position, dimensions */
    position: absolute;
    width: 100%;
    top: 20vh;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  #canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
    padding: 0px;
    /* behavioral settings */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #qrcode-container {
    /* position, dimensions */
    position: fixed;
    width: 15%;
    top: 55vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }